@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


body{
    margin:0;
    padding:0;
    background:#f9f9f9;
    font-family: 'Poppins', sans-serif;
    font-size:14px;
}

.user-right .breadcrumb{
    background:none;
  
}

.navbar-dark .navbar-nav .nav-link{
    color:#000;
    font-size:12px;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color:#ffb007;    
}
.dropdown-item{
    font-size:12px;
}

.page-body{
    padding:25px;
}